{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="{{url_for('static',filename='js/d3.min.js') }}"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
    svg = d3.select("svg");
    var sums= []
    {% for sum in auc_sums %}
        sums.push({{ sum }})
    {% endfor %}
    d3.select("body").selectAll("p").data(sums).html(function(d) {return d})
        .enter().append("p").text(function(d) {return d});
    svg.selectAll("rect").attr("width", 500).style("color", "#bbb");
    })
  </script>
{% endblock %}
{% block body %}
<p></p>
<p></p>
<a href="{{ url_for('realms') }}">Currently tracking {{ realm_count }} realms</a>
  <svg width=1000 height=200>
      <rect width=200 height=50></rect>
      <rect y=60 width=200 height=50></rect>
  </svg>
{% endblock %}
